@charset "UTF-8";


body {  
  margin-right: 20px;
  margin-left: 20px;
  counter-reset: figCounter;
}


h1 {
  font-size:300%;
}
h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

p, video {
  margin-top: 20px;
  margin-bottom: 100px;
}

#psp {
  margin-bottom: 10px;
}

/*
#equation {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
*/

#equation {
  margin-top: 0px;
  text-align: center;
}



img, video {
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}



figure figcaption {

  text-align: center;
  margin-bottom: 100px;
  counter-increment: figCounter;
}

figure figcaption:before {
	content: 'Fig.' counter(figCounter) ': ';
}

figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 100%;
  max-width: 100%;
}

.profileheader {
	text-align: left;

}



