@charset "UTF-8";


body {  
  margin-right: 20px;
  margin-left: 20px;
  counter-reset: figCounter;
}


h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

p {
  margin-top: 20px;
  margin-bottom: 100px;
}


#equation {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}



img, video {
  height: 100%;
  width: 100%;
}



figure figcaption {

  text-align: center;
  margin-bottom: 100px;
  counter-increment: figCounter;
}

figure figcaption:before {
	content: 'Fig.' counter(figCounter) ': ';
}

figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
}

.profileheader {
	text-align: left;

}



