@charset "UTF-8";

a:link {
    color: green; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

#profilepic {
	float:right;
}

body {
	text-align: center;
}
#name {
	text-align: center;
	font-size: 42px;
}

#positions {
	text-align: left;
	font-size: 20px;	
}

#navmenu {
	list-style-type: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
	background-color: #333333
}

.navitem {
	float:left;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}
